.wrapper {
    height: 100vh;
    position: fixed;
    width: 100vw;
}
.wrapper::-webkit-scrollbar {
    width: 0;
}

#menu {
    height: 100vh;
    position: fixed;
    width: 50vw;
    z-index: 1;
}

#logo {
    max-width: 400px;
}

.aside-info {
    column-gap: var(--unit-10);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "first second fourth"
    "first third fourth";
}
.aside-info > ul:nth-child(1) {
    grid-area: first;
}
.aside-info > ul:nth-child(2) {
    grid-area: second;
}
.aside-info > ul:nth-child(3) {
    grid-area: third;
}
.aside-info > ul:nth-child(4) {
    grid-area: fourth;
}
.aside-info > ul:nth-child(5) {
    grid-area: fifth;
}


/* -----MAIN----- */
.main-content {
    height: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
}
section {
    padding: var(--unit-10);
}

/* Ice cream section */
#ice-cream::before {
    background-image: url(../svg/arrow-down.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: var(--unit-10);
    color: var(--light-color);
    content: "SCROLL DOWN";
    position: absolute;
    right: var(--unit-10);
    text-orientation: upright;
    width: 50px;
    writing-mode: vertical-lr;
}
#ice-cream h1 {
    text-align: end;
}

/* Pop tart section */
#pop-tart .pop-tart-background {
    height: clamp(400px, 50%, 700px);
    width: clamp(300px, 40%, 500px);
}


@keyframes crossSky {
    0% {
    }
    100% {
        transform: translateX(calc(-50vw - 120%));
    }
}