.wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* -----MENU/ASIDE----- */
#menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: var(--unit-10) var(--unit-5);
    width: 100%;
}
#logo {
    max-width: 300px;
}
#logo > a {
    height: fit-content;
}

.bubble-gum, .bubble-gum a {
height: fit-content;
margin-right: var(--unit-2);
width: fit-content;
}
.bubble-gum img {
    animation: bubbleGum 1s ease-in-out infinite alternate;
}
.bubble-gum .shadow {
    animation: bubbleGumShadow 1s ease-in-out infinite alternate;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
    height: 12px;
    margin: auto;
    width: 90px;
}
@keyframes bubbleGum {
    100% {
        transform: translateY(-16px);
    }
}
@keyframes bubbleGumShadow {
    100% {
        transform: scale(1.2);
    }
}

.aside-info {
    display: grid;
    grid-template-columns: 1;
    gap: var(--unit-4);
}
.aside-info > ul > p {
    margin-bottom: var(--unit-2);
}
.aside-info .social {
    display: flex;
    gap: var(--unit-4);
    margin-top: var(--unit-2);
}

/* -----MAIN----- */
section {
    min-height: 100vh;
    padding: var(--unit-10) var(--unit-5);
    width: 100%;
}

.stars-bg::after {
    background-image: url(../img/background-stars.webp);
    background-position: top left;
    background-size: contain;
    content: "";
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
/* Ice cream section */
#ice-cream {
    background: var(--gradient-1);
    position: relative;
}
#ice-cream h1 {
    text-align: center;
}
#ice-cream .ice-cream-container {
    bottom: var(--unit-5);
    height: fit-content;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 130px;
    z-index: 1;
}
#ice-cream .ice-cream-container img:nth-child(1) {
    left: 0;
    position: relative;
    top: 20px;
    width: 100%;
    z-index: 1;
}
#ice-cream .ice-cream-container img:nth-child(2) {
    left: 10%;
    position: relative;
    top: -20px;
    width: 80%;
}

/* Pop tart section */
#pop-tart {
    background: var(--gradient-2);
    position: relative;
}

/* Chocolates section */
#chocolates {
    background: var(--gradient-3);
    position: relative;
}

/* Floor section */
#floor {
    background: var(--gradient-4);
    position: relative;
}
.cloud {
    animation: crossSky 60s linear infinite;
    position: absolute;
    right: -180px;
    top: 0;
}
.cloud > img {
    width: 180px;
}
@keyframes crossSky {
    0% {
    }
    100% {
        transform: translateX(calc(-100vw - 120%));
    }
}

.floor {
    background-image: url(../img/background-floor.webp);
    background-position: -50px bottom;
    background-repeat: no-repeat;
    background-size: 120% auto;
    bottom: 0;
    height: 60%;
    left: 0;
    position: absolute;
    width: 100%;
}

.floor > div {
    height: fit-content;
    width: fit-content;
    bottom: 0;
    left: 50%;
    object-fit: fill;
    position: absolute;
    transform: translateX(-50%);
}

.floor__ice-cream-ball {
    object-position: 10px 40px;
    max-width: 380px;
}
.floor > div > div {
    color: white;
    left: 50%;
    top: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

.floor > div > div > h2 {
    margin-bottom: 1rem;
}


.bandada {
    animation: crossSky 30s linear infinite;
    position: absolute;
    right: -80px;
    top: 100px;
    height: 50px;
    width: 80px;
}
.pajaro {
    height: 30px;
    width: 30px;
    position: absolute;
}
.bandada > .pajaro:nth-child(1) {
    bottom: 0;
    left: 0;
}
.bandada > .pajaro:nth-child(2) {
    top: 0;
    left: 50%;
}
.bandada > .pajaro:nth-child(3) {
    bottom: 4px;
    left: 90%;
}
.cuerpo {
    background-color: rgb(98, 98, 98);
    border-radius: 50%;
    height: 6px;
    width: 24px;
    position: absolute;
}
.alas {
    background-color: rgb(98, 98, 98);
    border-radius: 50%;
    height: 6px;
    width: 16px;
    position: absolute;
    left: 5px;
    top: 0;
    transform: rotate(-45deg);
    animation: moveWings 1s linear infinite;
    transform-origin: bottom left;
}
@keyframes moveWings {
    0% {
      }
    50% {
      transform: rotate(45deg);
    }
    100% {
       transform: rotate(-45deg);
      }
}